.actions_body {
    border-bottom: 2px solid #aaaaaa;

    height: 75px;
    width: auto;

    display: flex;
    justify-content: center;
}

.actions_holder {
    color: white;

    display: flex;
    flex-direction: row;

    gap: 2rem;

    svg {
        transform: scale(1.7);
        transition: all 0.2s ease-in-out;

        &:hover {
            transform: scale(2);
            transition: all 0.2s ease-in-out;
        }
    }
}